body {
    background:url(../img/sand_white_bg.jpg) repeat;
}
body, h1, h2, h3, h4, h5, h6 {
    font-family : "Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei",sans-serif;
}

@media (min-width: 768px) {
    body {
        margin-top: 50px;
    }
}