body {
    font-family : "Helvetica Neue",Helvetica,STHeiTi,"Microsoft YaHei",sans-serif;
}
#mweb_standard_img {
    margin: 30px auto;
}
#mweb_jm_img {
    margin: 40px auto;
}
.item{
    height: 400px;
    padding-top: 50px;
}
.item_standard{
    background-color: #6C3476;
}
.item_JM{
    background-color: #1E2B33;
}
.item_JMUI{
    background-color: #C3522F;
}
.item_Mars{
    background-color: #2E633B;
}
.carousel-caption{
    font-size: 18px;
    cursor: pointer;
}
.banner_title{
    font-size: 40px;
}
.logo_title{
    font-size:60px;
    margin-bottom: 40px;
}
.working_label{
    position: relative;
    top: -10px;
}
blockquote{
    border-left: 5px solid #3B749B!important;
}

section.container{
    border-bottom: 1px solid #D5D5D5;
    margin: 40px auto;
}
section.container:last-child{
    border-bottom: none;
}

.banner {
  margin-top: 46px;
  margin-bottom: 40px;
  background-image: url(../img/Mars_Rover.jpg);
  background-size: cover;
  box-shadow: #000 0 0 30px;
}

.jumbotron {
  padding-top: 90px;
  background-color: transparent;
  color: #FFF5EE;
}
/* Pad the edges of the mobile views a bit */
.content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.content .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.content h2 {
  font-weight: normal;
}
.content .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}

@media (min-width: 992px) {
  .banner {
    padding-bottom: 5%;
  }
}

@media (min-width: 1200px) {
  .banner {
    padding-bottom: 12%;
  }
}