.jumbotron {
    height: 540px;
    background-image: url(../img/planet_mars.jpg);
    box-shadow: #000 0 0 30px;
}

.intro-part div {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: #999 0 0 1px;
}